<?xml version='1.0' encoding='utf-8'?>
<widget
    id="divae.game"
    version="1.0.0"
    xmlns:gap="http://phonegap.com/ns/1.0"
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:cdv="http://cordova.apache.org/ns/1.0">
 
    <name>diva-e game</name>
    <description>
        diva-e game
    </description>
    <author email="andreas.mihm@diva-e.com" href="http://www.diva-e.com">
        Andreas Mihm
    </author>
	
	<platform name="android">
        <icon src="res/drawable-mdpi/Icon.png" density="mdpi" />
        <icon src="res/drawable-hdpi/Icon.png" density="hdpi" />
        <icon src="res/drawable-xhdpi/Icon.png" density="xhdpi" />
        <icon src="res/drawable-xxhdpi/Icon.png" density="xxhdpi" />
        <icon src="res/drawable-xxxhdpi/Icon.png" density="xxxhdpi" />
    </platform> 
    
	<access origin="*" />
 
    <preference name="EnableDeveloperConsole" value="true"/>
</widget>